workflows/Follow-Up Engine.json
{
  "name": "Follow-Up Engine",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        288,
        -400
      ],
      "id": "6fd6f7e0-5006-4960-81d9-098fed73d8b7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM leads\nWHERE last_contacted IS NOT NULL\nAND (last_replied IS NULL)\nAND last_contacted < NOW() - INTERVAL '1 hour';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        496,
        -400
      ],
      "id": "b7eec0bf-79bf-4a57-8379-5eb6146d4183",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "P9rvHpHyxuHVYw1Z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "c1b5ee16-9c2f-4c30-8946-b6a42e9032a7",
              "leftValue": "={{$json.length}}",
              "rightValue": 0,
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        -96
      ],
      "id": "02d26ddb-a4b4-4b19-85df-6eb194de7ea4",
      "name": "If1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        704,
        -400
      ],
      "id": "fa695851-43c3-4b88-a36b-2b9ec500e0c8",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads\nSET last_contacted = NOW()\nWHERE phone = '{{$item.json.phone}}';\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1120,
        -384
      ],
      "id": "7f7bf537-a1d6-4e1b-8119-e48d2fb22782",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "P9rvHpHyxuHVYw1Z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9660f9fb-e2cd-4ead-ae94-166b75de6d5f",
              "name": "message",
              "value": "=\"Hey {{$json.name}}, just following up!\"",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        912,
        -384
      ],
      "id": "1d990f36-6e65-4f54-9002-763f4335f09a",
      "name": "Outreach -Place Holder"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        []
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Outreach -Place Holder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outreach -Place Holder": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "50edf3f6-5ef4-4c74-9818-9f691c785ad1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f3ae60e6a8a26c297378764122e56edd6ce6154af7daaf93b06843d42902f9f"
  },
  "id": "XK8zqrilun2cqpfY",
  "tags": []
}
