workflows/Lead Capture API.json
{
  "name": "Lead Capture API",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a sales follow-up assistant. Generate a personalized follow-up message. Lead Info: - Name: {{$json.name}} - Intent: {{$json.intent}} - Phone: {{$json.phone}} Generate a 1-2 sentence follow-up message that is: - Personalized (use their name and intent) - Professional but friendly - Action-oriented Respond with ONLY the message, no other text."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        272,
        -1488
      ],
      "id": "f0a0ddc5-3e8b-43be-bc3e-b5b6380fa88c",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "6Rg7TtySvkyyQw2P",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c5de36a-965f-431b-ae3c-17ad0864a657",
              "name": "name",
              "value": "={{$json.body.name}}",
              "type": "string"
            },
            {
              "id": "882809fc-8920-460b-8969-fd7844cd9314",
              "name": "phone",
              "value": "={{$json.body.phone}}",
              "type": "string"
            },
            {
              "id": "b2bce26a-c01f-418d-85b5-9e13506b3463",
              "name": "intent",
              "value": "={{$json.body.intent}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3264,
        1056
      ],
      "id": "fdaa7b2d-db29-4d37-bd4c-aff3e19ebf5f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a sales follow-up assistant. Generate a personalized follow-up message. Lead Info: Name: {{$json.name}} Intent: {{$json.intent}} Phone: {{$json.phone}} Generate a 1-2 sentence follow-up message that is personalized, professional but friendly, and action-oriented. Respond with ONLY the message text, nothing else."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -3024,
        1056
      ],
      "id": "caf6957e-9f7e-44cc-94bf-a317319665c0",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "6Rg7TtySvkyyQw2P",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2c5de36a-965f-431b-ae3c-17ad0864a657",
              "name": "name",
              "value": "={{ $('Edit Fields').item.json.name }}",
              "type": "string"
            },
            {
              "id": "882809fc-8920-460b-8969-fd7844cd9314",
              "name": "phone",
              "value": "={{ $('Edit Fields').item.json.name }}",
              "type": "string"
            },
            {
              "id": "b2bce26a-c01f-418d-85b5-9e13506b3463",
              "name": "intent",
              "value": "={{ $('Edit Fields').item.json.intent }}",
              "type": "string"
            },
            {
              "id": "02222feb-106a-46e2-8810-e99a07ee4dd3",
              "name": "ai_message",
              "value": "={{$json.ai_message}}\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2720,
        1056
      ],
      "id": "5fb36f18-9054-4449-bb1a-639051de2da2",
      "name": "Set Data with AI"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COUNT(*) as lead_count FROM leads WHERE phone = '{{$json.phone}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2512,
        1056
      ],
      "id": "4a78b3ae-4289-4b0e-8ac8-7459557c629c",
      "name": "Check Lead Exists",
      "credentials": {
        "postgres": {
          "id": "P9rvHpHyxuHVYw1Z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO leads (name, phone, intent, ai_message) VALUES ('{{$json.name}}', '{{$json.phone}}', '{{$json.intent}}', '{{$json.ai_message}}')",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2000,
        960
      ],
      "id": "62a1b5b1-66c3-48f4-9daf-415e478e2c1f",
      "name": "Insert New Lead",
      "credentials": {
        "postgres": {
          "id": "P9rvHpHyxuHVYw1Z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE leads SET intent = '{{$json.intent}}', ai_message = '{{$json.ai_message}}', last_contacted = NOW() WHERE phone = '{{$json.phone}}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -2000,
        1152
      ],
      "id": "ef0d666a-bebf-4af1-b877-d5142136eb19",
      "name": "Update Existing Lead",
      "credentials": {
        "postgres": {
          "id": "P9rvHpHyxuHVYw1Z",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-in",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3504,
        1056
      ],
      "id": "386d4552-0b85-4acd-a44e-0cdff203849e",
      "name": "Webhook1",
      "webhookId": "e55bc886-7a44-4016-a138-fc165c9c78c5"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "34e77794-c78b-45b6-a097-934b153be8d2",
              "leftValue": "={{$json.lead_count}}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2256,
        1056
      ],
      "id": "67be377b-bd86-4af2-add1-cda99efe7f13",
      "name": "If1"
    }
  ],
  "pinData": {},
  "connections": {
    "Message a model": {
      "main": [
        []
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Set Data with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Data with AI": {
      "main": [
        [
          {
            "node": "Check Lead Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Lead Exists": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert New Lead": {
      "main": [
        []
      ]
    },
    "Update Existing Lead": {
      "main": [
        []
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Existing Lead",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert New Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "b10b1b7f-73b7-4292-8759-33b290d056a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8f3ae60e6a8a26c297378764122e56edd6ce6154af7daaf93b06843d42902f9f"
  },
  "id": "cwrvDffI5gjPd9dj",
  "tags": []
}
